<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Visualization Project</title>
    <link href="../static/assets/css/normalize.css" rel="stylesheet" />
    <link href="../static/assets/css/skeleton.css" rel="stylesheet" />
    <link href="../static/assets/css/custom-style.css" rel="stylesheet" />
</head>

{% block scripts %}
<!-- Canvas JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="../static/canvasjs-1.8.0/jquery.canvasjs.min.js"></script>
<script src="../static/assets/js/application.js"></script>
<script src="../static/assets/js/chart.js"></script>
{% endblock %}

<body>
    <div class="u-full-width navbar">
        <h3 >
            <img id="logo" src="../static/assets/image/Black & White Seal.jpg" alt="Treasury Logo" style="padding-top:5px;heigh: 80px; width: 50px">
            <a class="title" href="/" style="float:right">2016 Debt Affordability Study</a>
        </h3>
    </div>
    <div class="u-full-width content">
      <div class="row">
        <div class="three columns" id="sidebar" style="height:auto;">
            {{ toc | safe }}
        </div>
        <div class="one column">
            <a href="#" data-toggle="sidebar" id="sidebar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </div>
        <div class="eight columns">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>

</body>

</html>
