{% extends "layout.html" %}

{% block content %}
<div class="article" style="padding-top: 20px">
</div>
{{ page.html | safe}}
{% if chartInfo %}
<script type="text/javascript">
    {% for key, value in chartInfo.items() %}
    var data = [];
    data = {{ value.json | safe }};
    options = {};
    options['title'] = "{{ value.chartTitle }}";
    options['theme'] = 'theme1';
    options['id'] = "{{ key }}";
    options['addClick'] = false;
    options['valueFormat'] = "{{ value.valueFormat }}"
        {% if value.addClick %}
            options['addClick'] = true;
        {% endif %}
        $("#chart")
    var chartClass = new createChart(data, options);
    chartClass.createBarChart();
    {% endfor %}
</script>
{% endif %}

{% endblock %}